CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
*.a

#VS/Windows related
*.ilk
*.lastbuildstate
*.filters
*.lib
*.sdf
*.suo
*.obj
*.tlog
*.log
*.pdb
*.cache
*.exe
Debug

UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
